.registration__content {
  width: 100%;
}

.registration__btn_back {
  margin-left: 25%;
  margin-right: 25%;
}

.title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.content_text {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-left: 32%;
  margin-right: 32%;
  text-align: center;
  margin-bottom: 16px;
  color: #4F4F4F;
}

.box_important {
  margin-left: 32%;
  margin-right: 32%;
  margin-bottom: 68px;
  border: 0px;
}

.title_blue {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f80ed;
}

.subtitle {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.data-person_title {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 100px;
}

.line {
  height: 0px;
  border: 1px solid #e0e0e0;
  margin-top: 15px;
  margin-bottom: 32px;
}

.input_title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.input_must {
  color: red;
}

.table_forms {
  margin-bottom: 16px;
}