@import '../../scss/variables.scss';

.registered_evaluators {
  margin-bottom: 9vh;
  width: 100%;
  &-content {
    &__header {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__table {
      background-color: $white;
      padding: 20px;
    }
  }
}

