
.about {
  display: flex;
  flex-direction: row;
  &-text {
    &__title {

    }
    &__content {
      margin: 35px;
      width: 500px;
      line-height: 22px;
      font-size: 14px;
    }
  }
  &-images {

  }
}

/*
&__text {
  width: 492px;
  margin-left: 35px;
}
&__images {
  display: flex;
  flex-direction: column;
}
*/