@import '../../scss/variables.scss';

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.login_page__top_bar {
  width: 100%;
  height: 16px;
  background-color: $blue2;
}

.image_apresentation {
  width: 80%;
  height: 80%;
}

.login_page__content {
  padding-right: $spacing-side;
}
.login_page__content-img_background {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $blue4;
  padding-left: $spacing-side;
}

