@import '../../scss/variables.scss';

.login_page__content {
  &__img_apresentation {
    height: 89vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $blue4;
    padding-left: $spacing-side;
  }
}
