@import '../../scss/variables.scss';
@import '../../scss/generic-classes.scss';

nav {
  width: 92px;
}

.container_side_menu {
  height: 89vh;
  width: 200px;
  position: fixed;
  z-index: 10;
  &__icon_img {
    margin-top: 39px;
    margin-bottom: 39px;
  }
}

.ant-menu-inline-collapsed:not(.ant-layout-sider-children > ul) {
  width: 92px;
}

.menu-space {
  height: 8%;
}

button {
  border: none;
  background-color: transparent;
}
