@import '../../scss/variables.scss';
@import '../../scss/generic-classes.scss';

.container_side_menu {
  height: 89vh;
  width: 200px;
  &__icon_img {
    margin-top: 39px;
    margin-bottom: 39px;
  }
  &__icon {
    width: 38px;
    fill: none;
  }
}