@import '../../scss/variables.scss';

footer {
  height: 8.8vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-left: $spacing-side;
  padding-right: $spacing-side;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  background-color: $blue2;
}