@import '../../scss/variables.scss';

.registered_evaluators {
  margin-bottom: 9vh;
  width: 100%;
  &-content {
    &__header {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
      div h1 {
        position: relative;
        top: 15px;
        color: $gray2;
      }
    }
    &__table {
      background-color: $white;
      padding: 20px;
    }
  }
}

.ant-table-row {
  background-color: $gray6;
}

.ant-table-thead {
  background-color: $white !important;
}

.wrapper_perfil { 
  display: flex;
  &-photo {
    display: flex;
    justify-content: center;
    width: 50px;
    &__img {
      width: 60%;
      border-radius: 100%;
      border: 2px solid $blue1;
    }
  }
}

.edit_button {
  color: $gray3 !important;
  background-color: $gray6;
  border: 1px solid;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
