@import '../../scss/variables.scss';

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.login_page__content {
  padding-right: $spacing-side;
}

.login_page__content-card_form {
  width: 100%;
}

.login_page__content-card_form-logo {
  padding-top: 10px;
  padding-bottom: 40px;
}

.login_page__content-card_form-email {
  // padding-top: 10px;
}

.login_page__content-card_form-pws {
  // padding-top: 10px;
}
.login_page__content-card_form-pws--reset_pws {
  text-align: right;
  color: $blue2;
}

.login_page__content-card_form-remember_psw {
  
}

.login_page__content-card_form-btn_enter > div > button {
  width: 100%;
}
.login_page__content-card_form-btn_enter > div > div > p > span {
  padding-left: 7px;
  color: $blue2
}

.login_page__bottom_bar > div {
  height: 64px;
}

.login_page__bottom_bar > div > div {
  align-items: center;
  display: flex;
}
