
// colors 
$gray1 : #333333;
$gray2 : #4F4F4F;
$gray3 : #828282;
$gray4 : #BDBDBD;
$gray5 : #E0E0E0;
$gray6 : #F2F2F2;
$white : #FFFFFF;
$blue2 : #2F80ED;
$blue3 : #56B0F2;
$blue4 : #E5F3F8;
$blue1 : #1D6EDA;
$red1 : #EB5757;
$red2 : #FFA39E;
$red3 : #FFF1F0;
$orange1 : #F2994A;
$orange2 : #F2A867;
$orange3 : #FBEEE3;
$yellow1 : #E2B428;
$yellow2 : #F6D56F;
$yellow3 : #FFFAE9;
$green1 : #219653;
$green2 : #6FCF97;
$green3 : #EBFAF1;
$purple1 : #9B51E0;
$purple2 : #C7A5D4;
$purple3 : #F5E9FA;



//page parameters 
$spacing-side : 24px;

//layout 
$side-menu-height : 89vh;
$top-bar-height : 2.2vh;