@import '../../scss/variables.scss';

.footer_initial {
    background-color: $blue2;
    height: 64px;
    width: 100%;
    position: relative;
    bottom: 0;
    div {
        div:nth-child(1) {
            padding-left: $spacing-side;
        }
        div:nth-child(2) {
            color: $white;
        }
    }
}

