@import '../../scss/variables.scss';

.edit_button {
  color: $gray3 !important;
  background-color: $gray6;
  border: 1px solid;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}